<div class="container">
  <h1>Workouts</h1>
  <%= form_with(model: Workout) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "New Workout", class: 'btn btn-success mb-3' %>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
    <tr>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @workouts.reverse_each do |workout| %>
      <tr>
        <td class="align-middle"><%= workout.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <div class="btn-group">
            <div class="btn" >
              <%= link_to 'Show', workout, class: 'btn btn-info btn-sm' %>
            </div>
            <div class="btn">
              <%= button_to 'Delete', workout, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

