<%= form_with(model: user_workout) do |form| %>
  <% if user_workout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_workout.errors.count, "error") %> prohibited this user_workout from being saved:</h2>

      <ul>
        <% user_workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :workout_id, style: "display: block" %>
    <%= form.text_field :workout_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
