<div id="<%= dom_id exercise_set %>">
  <p>
    <strong>Exercise:</strong>
    <%= exercise_set.exercise_id %>
  </p>

  <p>
    <strong>Workout:</strong>
    <%= exercise_set.workout_id %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= exercise_set.reps %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= exercise_set.weight %>
  </p>

</div>
